<?xml version="1.0" encoding="UTF-8"?>
<web-app version="6.0" xmlns="https://jakarta.ee/xml/ns/jakartaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <context-param>
        <param-name>jakarta.faces.PROJECT_STAGE</param-name>
        <param-value>Development</param-value>
    </context-param>
    
    <!--<servlet>
        <servlet-name>FacesServlet</servlet-name>
        <servlet-class>jakarta.faces.webapp.FacesServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>FacesServlet</servlet-name>
        <url-pattern>*.xhtml</url-pattern>
    </servlet-mapping>
    -->
    
    
    <session-config>
        <session-timeout>
            300
        </session-timeout>
    </session-config>
    
    <welcome-file-list>
        <welcome-file>login.xhtml</welcome-file>
    </welcome-file-list>
    
    <error-page>
    <error-code>403</error-code>
    <location>/error.xhtml</location>
    </error-page>
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Admin Only Content</web-resource-name>
            <url-pattern>/admin/*</url-pattern>
            <url-pattern>/welcome.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>ADMIN_ROLE</role-name>
        </auth-constraint>
    </security-constraint>

    <!--<security-constraint>
        <web-resource-collection>
            <web-resource-name>Vet Only Content</web-resource-name>
            <url-pattern>/vet/*</url-pattern>
            <url-pattern>/welcome.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>VET_ROLE</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Owner Only Content</web-resource-name>
            <url-pattern>/owner/*</url-pattern>
            <url-pattern>/welcome.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>OWNER_ROLE</role-name>
        </auth-constraint>
    </security-constraint>-->
    
    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Seller Only Content</web-resource-name>
            <url-pattern>/seller/*</url-pattern>
            <url-pattern>/welcome.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>SELLER_ROLE</role-name>
        </auth-constraint>
    </security-constraint>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Customer Only Content</web-resource-name>
            <url-pattern>/customer/*</url-pattern>
            <url-pattern>/welcome.xhtml</url-pattern>
        </web-resource-collection>
        <auth-constraint>
            <role-name>CUSTOMER_ROLE</role-name>
        </auth-constraint>
    </security-constraint>
</web-app>
